<div class="header-container">
  <input
    type="text"
    [(ngModel)]="teamA"
    [disabled]="inputLocked"
    class="team-input"
    placeholder="Enter Team A Name"
  />

  <div class="sport-selector">
    <select (change)="onSportChange($any($event.target).value)">
      <option value="default">Choose Sport!</option>
      <option value="Basketball">Basketball</option>
      <option value="Volleyball">Volleyball</option>
      <option value="Tennis">Tennis</option>
    </select>
  </div>

  <input
  type="text"
  [(ngModel)]="teamB"
  [disabled]="inputLocked"
  class="team-input"
  placeholder="Enter Team B Name"
/>
</div>
