body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f5f5;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.timer-display {
  font-size: 6rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.timer-buttons button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.timer-buttons button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.laps-container {
  margin-top: 20px;
  text-align: center;
}

.laps-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.laps-container ul {
  list-style-type: none;
  padding: 0;
}

.laps-container li {
  font-size: 1.2rem;
  padding: 5px 0;
  color: #555;
}

select {
  font-size: 1.5rem;
  padding: 10px 15px;
  margin: 10px 0;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-weight: bold;
  text-transform: capitalize;
}

select:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}

option {
  font-size: 1.2rem;
  color: #333;
  background-color: #ffffff;
  font-weight: normal;
}
